<div class="site-wrapper" id="job-runner">
  <div class="container">

    <div class="row">
      <h3>{{controller.name}}</h3>
    </div>

    <div class="row">
      <div ng-class="{'col-xs-12 col-md-12 vcenter' : !controller.hasFailScript, 'col-xs-6 col-md-6 center' : controller.hasFailScript}">
        <div class="code-mirror-box">
          <code-mirror lang="controller.lang"
                       theme="controller.theme"
                       code="controller.okScript.code">
          </code-mirror>
          <div class="ok-button">
            <a href="" ng-click="controller.addOkScript()">
              <i class="fa fa-circle-o ok-icon"></i>
            </a>
          </div>
        </div>
        <div class="vcenter fail-button">
          <a href="" ng-click="controller.addFailScript()">
            <i class="fa fa-circle-o fail-icon"></i>
          </a>
        </div>
      </div>

      <div ng-if="controller.hasFailScript" class="col-xs-6 col-md-6 vcenter">
        <div class="code-mirror-box">
          <code-mirror lang="controller.lang"
                       theme="controller.theme"
                       code="controller.okScript.errorScript.code">
          </code-mirror>
        </div>
      </div>
    </div>

    <div ng-if="controller.hasOkScript" class="row">
      <div class="col-xs-12 col-md-12">
        <div class="code-mirror-box">
          <code-mirror lang="controller.lang"
                       theme="controller.theme"
                       code="controller.okScript.okScript.code">
          </code-mirror>
        </div>
      </div>
    </div>

    <div class="row">
      <button type="button"
              class="btn btn-lg btn-primary"
              ng-click="controller.send()">
        Run
      </button>
      <i class="fa fa-spinner fa-spin out-spinner"
         ng-show="controller.out.started && !controller.out.ended"></i>
    </div>

    <div ng-if="controller.out.log" class="row">
      <div class="output-box">
        <pre class="log" scroll-glue>{{controller.out.log}}</pre>
      </div>
    </div>

  </div>
</div>
